.p {
  width: 30%;
  height: 40vh;
  /* background: gray */
  margin: 20px 10px;
  border: 2px solid rgb(219, 219, 219);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.p-browser {
  background: rgb(219, 219, 219);
  height: 20px;

  /* circle用 */
  display: flex;
  align-items: center;

  /* ブラウザーを固定にするcss */
  position: sticky;
  z-index: 2;
}
.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background: white;
}

.p-img {
  width: 100%;
  transition: all 10s ease;
}
.p:hover .p-img {
  transform: translateY(-100%);
}

.p-span {
  font-size: 1px;
  opacity: 0.8;
  display: flex;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .p {
    width: 40%;
    height: 18vh;
  }
  .p-span {
   display: none;
  }
}
